@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --brand-green: 142 70% 45%;
        --brand-green-light: 142 70% 55%;
        --brand-black: 240 10% 3.9%;
        --zinc-950: 240 10% 3.9%;
        --zinc-900: 240 5.9% 10%;
        --zinc-800: 240 4.9% 15.7%;

        --syndic-blue: 217 91% 60%;
        --syndic-blue-light: 217 91% 70%;
    }
}


@layer base {
    body {
        @apply bg-zinc-950 text-zinc-300 antialiased;
    }
}

@layer utilities {
    .glass {
        @apply bg-zinc-900/50 backdrop-blur-md border border-zinc-800;
    }

    .glass-premium {
        @apply bg-white/5 backdrop-blur-xl border border-white/10 shadow-2xl;
    }
}